---
layout: base.njk
---

<p class="theme-debug level3">project-detail.njk</p>


<img src="{{ image }}" alt="{{ title }} image">
<p>{{ description }}</p>


{{ content | safe }}

<p class="theme-debug level3">/project-detail.njk</p>
